.flowerpassword {
    html,
    body {
      background-color: #fff;
    }
  
    body {
      font: 14px/1.5 Tahoma, Helvetica, Arial, \5b8b\4f53;
      color: #000;
    }
  
    a {
      color: #0099cc;
      text-decoration: none;
    }
  
    a:hover {
      color: #0099cc;
      text-decoration: none;
    }
  
    .left {
      float: left;
    }
  
    .right {
      float: right;
    }
  
    .clear {
      clear: both;
    }
  
    /* ------------ common ---------------------------- */
    /* ------------ header ---------------- */
    header {
      text-align: left;
      padding: 0;
      margin: 15px auto;
    }
  
    #logo {
      height: 39px;
    }
  
    #shortcuts {
      margin: 15px 0 0 15px;
    }
  
    #nav {
      float: center;
      margin-top: 10px;
    }
  
    #nav li {
      margin: 0 7px;
    }
  
    #nav li a {
      font-size: 22px;
      color: #0099cc;
    }
  
    #nav li.active a,
    #nav li.active a:hover {
      background-color: #0099cc;
      color: #fff;
    }
  
    #nav li a:hover {
      background-color: #79c6df;
      color: #fff;
    }
  
    /* ------------ index ---------------------------- */
    #index-box {
      background-color: #fff;
      width: 940px;
      clear: both;
      box-shadow: 0 0 4px 2px #ddd;
      border: 1px solid #ddd;
    }
  
    #index-box .float-box {
      float: left;
      margin: 20px 0 20px 20px;
      display: inline;
    }
  
    #index-box #content-nav {
      margin: 0;
      width: 200px;
    }
  
    #index-box #content-nav li a {
      background-color: #e5ecdc;
    }
  
    #index-slider {
      width: 940px;
      height: 200px;
      overflow: hidden;
      position: relative;
    }
  
    #index-slider ul {
      list-style: none;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
    }
  
    #index-slider li {
      width: 940px;
      height: 200px;
      float: left;
    }
  
    #index-slider #pagination {
      top: 160px;
      left: 800px;
    }
  
    #index-slider ul#pagination li {
      width: 16px;
      height: 16px;
      border-radius: 1em;
      background-color: #fff;
      box-shadow: 0 0 1px 2px #ccc;
      margin-right: 18px;
      margin-top: 4px;
    }
  
    #index-slider ul#pagination li.active {
      width: 24px;
      height: 24px;
      margin-top: 0;
    }
  
    #index-slider ul#pagination li:hover {
      background-color: #ddd;
      cursor: pointer;
    }
  
    #index-report {
      width: 680px;
      height: 70px;
      margin-top: 20px;
      overflow: hidden;
      position: relative;
      background-color: #e5ecdc;
    }
  
    #index-report ul {
      list-style: none;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
    }
  
    #index-report li {
      width: 680px;
      height: 70px;
      text-align: center;
      float: left;
      font-size: 32px;
      color: #666;
      font-family: å¾®è½¯é›…é»‘, é»‘ä½“;
      line-height: 70px;
    }
  
    #index-report-pagination {
      list-style: none;
      margin-left: 35px;
      text-align: center;
    }
  
    #index-report-pagination li {
      height: 65px;
      float: left;
      margin-right: 45px;
      cursor: pointer;
    }
  
    #index-report-pagination li img {
      margin-top: 30px;
    }
  
    #index-report-pagination li.active {
    }
  
    #index-button {
      margin: 40px 0 30px;
      text-align: center;
    }
  
    #index-button a {
      margin: 0 50px;
    }
  
    /* ------------ content ---------------------------- */
    #tab {
      margin-top: 30px;
    }
  
    #tab li a {
      margin-right: 10px;
      border-bottom-color: #ddd;
      color: #666;
    }
  
    #tab li a:hover {
      background-color: #f2f2f2;
      color: #333;
      border-color: #ddd;
      border-bottom-color: transparent;
    }
  
    #tab li.active a {
      background-color: #f2f2f2;
      color: #666;
      border-bottom-color: transparent;
    }
  
    #content-nav {
      list-style: none;
      margin: 0;
      margin-top: 20px;
    }
  
    #content-nav li a {
      color: #666;
      padding: 11px 0 11px 60px;
      display: block;
      margin-bottom: 1px;
      font-size: 22px;
    }
  
    #content-nav #nav-web {
    }
  
    #content-nav #nav-chrome {
    }
  
    #content-nav #nav-other {
    }
  
    #content-nav #nav-android {
    }
  
    #content-nav #nav-mobile {
    }
  
    #content-nav #nav-windows {
    }
  
    #content-nav #nav-mac {
    }
  
    #content-nav li a:hover,
    #content-nav li a.active {
    }
  
    #content-nav li a.active,
    #content-nav li a:hover {
      background-color: #0099cc !important;
      color: #fff !important;
    }
  
    /* ------------ web app ---------------------------- */
    h1 {
      color: #0099cc;
      margin: 30px 0 12px;
    }
  
    h2 {
      font-size: 22px;
      color: #0099cc;
      margin: 30px 0 12px;
    }
  
    h2 span {
      font-size: 22px;
      color: #fff;
      margin-right: 7px;
      background-color: #0099cc;
      width: 33px;
      height: 33px;
      display: inline-block;
      text-align: center;
    }
  
    h3 {
      font-size: 16px;
      color: #0099cc;
      margin: 20px 0;
    }
  
    h3 span {
      font-size: 16px;
      color: #fff;
      margin-right: 6px;
      background-color: #0099cc;
      width: 26px;
      display: inline-block;
      text-align: center;
    }
  
    #input span {
      color: #0099cc;
      font-weight: bold;
      font-size: 22px;
      margin: 0 20px;
    }
  
    #input input {
      font-size: 14px;
      /* height: 18px; */
      padding: 5px;
      margin-left: 5px;
    }
  
    #input label {
      float: none;
      display: inline;
      padding-right: 5px;
    }
  
    #input p {
      font-size: 12px;
      color: #999;
      margin-top: 16px;
    }
  
    .other {
      font-size: 12px;
      color: #999;
    }
  
    #code16 {
      display: inline-block;
      /* width:140px; */
      text-align: center;
      /* margin-left: 16px; */
    }
  
    .code16d {
      border: 2px solid #0099cc;
    }
  
    .code16h {
      border: 2px solid #ff881c;
    }
  
    #copycode16 {
      color: #000;
      display: inline-block;
      padding: 0 3px;
      cursor: pointer;
    }
  
    .copycode16d {
      background-color: #0099cc;
      border: 2px solid #0099cc;
    }
  
    .copycode16h {
      background-color: #ff881c;
      border: 2px solid #ff881c;
    }
  
    p {
      font-size: 12px;
      color: #666;
      margin: 20px 0;
    }
  
    #copyOK {
      color: #f2f2f2;
      border: 2px solid #f2f2f2;
      display: inline-block;
      margin-left: 16px;
      padding: 0 3px;
    }
  
    .down-button {
      margin: 10px 20px 10px 0;
    }
  
    #get {
      margin-bottom: 100px;
    }
  
    /* ------------ footer ---------------------------- */
    footer {
      margin: 50px 0 30px;
    }
  
    footer p {
      margin: 0 0 5px;
      color: #999;
    }
  
    footer p span {
      margin: 0 10px;
    }
  
    footer p a {
      color: #999;
    }
  
    footer p a:hover {
      color: #333;
    }
  }
  